.THIS .btn_next button {
    min-width: 100px;
}

.THIS slds-button.btn_next{
    min-width: 100px;
}
.THIS .table_test{ 
background-color: #FF0000;
/*color: #16325c;*/
}

.THIS .red{ 
background-color: #FFA500;
color: #16325c;
}

.THIS .green{ 
background-color: #7CFC00;
color: #16325c;
}