<apex:page showHeader="false" sidebar="false" standardcontroller="SalesOrder__x" title="Dispatch Track">
    <apex:includeLightning />
    <div id="lightning" />
    <script>
    
    var orderID = "{!SalesOrder__x.Id}";
    $Lightning.use("c:DispatchTrackApp", function() {
        $Lightning.createComponent("c:DispatchTrack",{recordId : orderID},
                                   "lightning",
                                   function(cmp) {}
                                  );
    });
    </script>
    
</apex:page>