.THIS .termsLanguage {
   font-size:80%;
   padding-bottom:25px;
}

.THIS canvas {
   margin-bottom:10px;
   scroll-behavior:unset;
   -webkit-overflow-scrolling: unset;
}
.THIS .BGSIGCAPSignatureCapture button {
  background:#f68c2c;
  color:#fff !important;
  border:none;
  border-radius:0;
}
.THIS .BGSIGCAPSignatureCapture button:last-child {
  background:#999;
  color:#fff !important;
  border:none;
  border-radius:0;
}
.THIS .tcsContent h4 {
   margin-bottom:0px;
}
.THIS .tcsContent strong.underline {
   text-decoration:underline;
   margin-top:10px;
}
.THIS .signatureWrapper {
   text-align:center;
   height:auto;
   margin-top:10px;
   border-top:1px solid #dddbda;
}
.THIS .coaSignatureWrapper {
   height:400px;
   border-top:1px solid #dddbda;
}
.THIS .signatureDiv {
  margin-top:10px;
}
.THIS .slds-modal__container .uiScrollerWrapper.scrollable {
   /*height:350px !important;*/
}
.THIS .slds-modal__container .slds-modal__content.slds-p-around--medium.slds-grid.slds-wrap {
   /*height:350px !important;*/
   height:700px !important;
}
.THIS .slds-modal {
   overflow: hidden;
}
.THIS .slds-modal .slds-modal__container {
   padding-top:2%;
}
.THIS canvas#paint {
   height: 300px !important;
   width:100%;
   scroll-behavior:unset;
   display:static;
}
.THIS .main.text-center {
   width:100%;
}
.THIS .tcsContent{
    /*height: 350px;*/
    overflow-y: scroll;
}
.THIS .coaTcsContent{
    height: 350px;
    overflow-y: scroll;
}
.THIS .slds-modal__content {
    pointer-events: bounding-box;
}
.THIS .slds-modal__content.slds-p-around--medium.slds-grid.slds-wrap.signatureWrapper {
  /*height: 420px;
  min-height: 420px;
  max-height: 420px;*/
}

.THIS .slds-modal__content.slds-p-around--medium.slds-grid.slds-wrap {
  height: 450px;
  min-height: 450px;
  max-height: 450px;
}