.THIS .slds-modal__content {
	min-height:550px;
}
.THIS .confirm {
	text-align:center;
	position:absolute;
    top: -21px;
    right: -2px;
    width: 150px;
    padding: 10px;
	background:#fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	z-index:9;
}
.THIS .confirmText {
	margin-bottom:8px;
}
.THIS .confirm .marginRight {
	margin-right:10px;
}
.THIS .confirmButtons {
	margin-bottom:6px;
}
.THIS .disabled {
	opacity: 0.7;
	color: #d5d5d5;
	pointer-events: none;
}

/* THE PADDING WAS NOT COOPERATING ON THIS, SO I HAD TO OVERRIDE */
.THIS .row {
	width:100%;
}
.THIS .slds-modal__content:last-child {
	border-radius:none !important;
}
.THIS .slds-modal__content {
	padding-right:0 !important;
}
.THIS .col-sm-12 {
	padding-right: 0 !important;
}
.THIS .totalDue {
	display:inline-block;
}

.THIS .slds-modal__footer .float-right .greyButton,
.THIS .slds-modal__footer .float-right .orangeButton {
	margin-right:-18px;
}